<component name="ArtifactManager">
  <artifact type="war" name="springDemo:war">
    <output-path>$PROJECT_DIR$/out/artifacts/springDemo_war</output-path>
    <root id="archive" name="springDemo_war.war">
      <element id="artifact" artifact-name="springDemo:war exploded" />
    </root>
  </artifact>
</component>